@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for Voices Without Barriers Foundation website *\/
/*
font-family: 'Gothic A1', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

header, footer {
    font-family: 'Montserrat', sans-serif;
    background: #0A1A2F;
    border-radius: 0px 0px 15px 15px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
    background: #0A1A2F;
    border-radius: 0px 0px 15px 15px;
    color: #fff;
}

img {
    max-width: 100%;
    margin: 250px auto;
    display: block;
    border-radius: 30px;
    height: auto;
    justify-content: center;
    border-radius: 40px;
}

body {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #64AD92;
}

